---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar
    profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Research Interests</h2>
<p>
  My research interests include Mathematical Finance, Stochastic Processes, Mixing times in Markov chains, Stochastic
  Control, Neural Networks for solving Partial Differential Equations (PDEs), and Reinforcement Learning.
</p>

<h2>Publications</h2>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
{% for category in site.publication_category %}
{% assign title_shown = false %}
{% for post in site.publications reversed %}
{% if post.category != category[0] %}
{% continue %}
{% endif %}
{% unless title_shown %}
<h3>{{ category[1].title }}</h3>
{% assign title_shown = true %}
{% endunless %}

<p>
  <a href="{{ base_path }}{{ post.url }}"><b>{{ post.title }}</b></a>{% if post.authors %}, with {{ post.authors }}{%
  endif %} ({{ post.venue }} {{ post.date | date: "%Y" }})
</p>
{% endfor %}
{% endfor %}
{% else %}
{% for post in site.publications reversed %}
<p>
  <a href="{{ base_path }}{{ post.url }}"><b>{{ post.title }}</b></a>{% if post.authors %}, with {{ post.authors }}{%
  endif %} ({{ post.venue }} {{ post.date | date: "%Y" }})
</p>
{% endfor %}
{% endif %}